.adminPageLayout {
    display: flex;
    height: 100%;
    overflow-y: scroll;
}

.adminPageLayout::-webkit-scrollbar {
    display: none;
}

.adminPageNavbarMain {
    width: 7rem;
    padding-top: 1rem;
    border-right: 1px solid black;
}

.outletAdminPageLayout {
    overflow-y: scroll;
    width: 100%;
}