.appLayout {
    height: 100vh;
    display: flex;
    flex-direction: column;

}

.appOutletWrapper::-webkit-scrollbar {
    display: none;
}

.appLayoutNavbar {
    width: 100%;
}

.appNavbar {
    height: 3rem;
    display: flex;
    gap: 1rem;
    padding: 0.5rem;

    user-select: none;
    border-bottom: 1px solid black;

    background-color: rgb(197, 144, 247);
}

.appNavbar a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: all 0.15s;
    height: 100%;
    width: 6rem;
    display: flex;
}

.appNavbar a:hover {
    scale: 1.1;
}

.appNavbar a > div {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}